
<link rel="stylesheet" href="{{url_for('static', filename='plugins/layui/css/layui.css')}}" media="all" />
<link rel="stylesheet" href="{{url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='plugins/layui/css/modules/layer/default/layer.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" media="all" />
<link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}" media="all" />
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}" />

<script src="{{url_for('static', filename='js/jquery_1.11.1.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/layui/layui.js')}}"></script>
<script src="{{url_for('static', filename='plugins/layui/lay/modules/layer.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
<script src="{{url_for('static', filename='js/store.js')}}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>


<!--<script charset="utf-8" src="/static/js/ueditor1_4_3_1-utf8-py/ueditor.config.js"></script>
<script charset="utf-8" src="/static/js/ueditor1_4_3_1-utf8-py/ueditor.all.min.js"> </script>
<script charset="utf-8" src="/static/js/ueditor1_4_3_1-utf8-py/lang/zh-cn/zh-cn.js"></script>-->
